/* Parrafos */
.parrafo {
  font-size: 1.5rem;
  overflow-wrap: break-word;
  text-align: justify;
  white-space: pre-wrap;
}

/* Preloader */
.preloader-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.preloader {
  width: 70px;
  height: 70px;
  border: 10px solid #eee;
  border-top: 10px solid #666;
  border-radius: 50%;
  animation-name: rotatePreloader;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotatePreloader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
